
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Employees Module</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="EmployeeTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"></table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>

</div>


<div class="modal fade bannerformmodal" tabindex="-1" role="dialog" aria-labelledby="bannerformmodal" aria-hidden="true" id="EmployeeModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-body fixed-modal-height div-chk-less-height">

                    <div class="row">
                        <div class="col-12">
                            <form id="EmployeeForm" class="form-horizontal" action="#" method="">
                                <input type="hidden" class="form-control input-sm" name="ID" id="ID" readonly="">
                                <div class="card ">
                                    <div class="card-header card-header-rose card-header-text">
                                        <div class="card-text">
                                            <h4 class="card-title">Employee</h4>
                                        </div>
                                    </div>
                                    <div class="card-body ">
                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">First Name</label>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" name="First_Name" id="First_Name" required="true" />
                                                </div>
                                            </div>

                                            <label class="col-sm-2 col-form-label">Last Name</label>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" name="Family_Name" id="Family_Name" required="true" />
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <label class="col-sm-2 col-form-label">Daily Wage</label>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <input class="form-control" type="number" name="DailyWage" id="DailyWage" required="true" />
                                                </div>
                                            </div>

                                           

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">


                                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                                    <div class="fileinput-new thumbnail">
                                                        <img id="photohere" src="~/Content/assets/img/image_placeholder.jpg" alt="...">
                                                    </div>
                                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                                    <div>
                                                        <span class="btn btn-rose btn-round btn-file">
                                                            <span class="fileinput-new">Select image</span>
                                                            <span class="fileinput-exists">Change</span>
                                                            @*<input type="file" name="..." />*@
                                                            <input class="file-userphoto file-upload" id="Photo" name="Photo" type="file" accept="image/*" />

                                                        </span>
                                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="card-footer ml-auto mr-auto">
                                        <button type="submit" class="btn btn-success" id="Add_btn">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>





                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn bg-blue btn-flat btn-block" id="updatePagebtn"><i class="fa fa-floppy-o"></i> Save</button>*@
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{

    <script src="~/Areas/Masters/Javascript/Employee.js"></script>
}



