
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-3">
                <form id="ChangepassForm" class="form-horizontal" action="#" method="">
                    <input type="hidden" class="form-control input-sm" name="ID" id="ID" readonly="">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Change Password</h4>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <label class="col-sm-3 col-form-label">Current Password</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="password" name="CurrentPassword" id="CurrentPassword" required="true" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <label class="col-sm-3 col-form-label">Password</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="password" name="Password" id="Password" required="true" />
                                    </div>
                                </div>



                            </div>

                            <div class="row">
                                <label class="col-sm-3 col-form-label">Confirm Password</label>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control" type="password" name="ConfirmPassword" id="ConfirmPassword" required="true" />
                                    </div>
                                </div>



                            </div>

                        </div>
                        <div class="card-footer ml-auto mr-auto">
                            <button type="submit" class="btn btn-success" id="Add_btn">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <!-- end row -->
    </div>

</div>

@section Scripts{

    <script type="text/javascript">
        $(function () {

            $('#ChangepassForm').on('submit', function (e) {
                e.preventDefault();

                if ($("#Password").val() == $("#ConfirmPassword").val()) {


                    $.ajax({
                        url: '/Login/ChangePassword',
                        data: {
                            Password: $("#CurrentPassword").val(),
                            NewPassword: $("#Password").val()
                        },
                        type: 'POST',
                        datatype: "json",
                        success: function (returnData) {

                            if (returnData.msg == "Success"){
                                swal({
                                    title: "Password Updated",

                                    buttonsStyling: false,
                                    confirmButtonClass: "btn btn-success",
                                    type: "success"
                                }).catch(swal.noop)
                            }
                            else {
                                swal({
                                    title: "Password Update Failed",

                                    buttonsStyling: false,
                                    confirmButtonClass: "btn btn-warning",
                                    type: "warning"
                                }).catch(swal.noop)
                            }

                        }
                    });

                    

                }
                else {
                    swal({
                        title: "Password Update Failed",
                       
                        buttonsStyling: false,
                        confirmButtonClass: "btn btn-warning",
                        type: "warning"
                    }).catch(swal.noop)
                }

            });
        })
    </script>
}

